<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your trips</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your trips</h1>
    <ul>
      <% trips.forEach( trip => { %>
      <li>
        <a href="/users/<%= user._id %>/trips/<%= trip._id %>">
          <p>trip to: <%= trip.status %></p> at <%= trip.date %>
        </a>
      </li>
      <% }) %>
    </ul>


    <a href="/users/<%= user._id %>/trips/new">Add an trip</a>
  </body>
</html>